# Système d'exploitation
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dépendances et fichiers générés
node_modules/
dist/
build/

# Fichiers de débogage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env
.env.local
.env.*.local